<!DOCTYPE html>

<html>
    <head>
        <title>Gitspector</title>
        
        <meta charset="UTF-8">
        
        <!-- JQuery CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Semantic UI CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        
        <!-- Initialization -->
        <script src="../static/js/message_close.js"></script>
        <script src="../static/js/get_repo.js"></script>
    </head>
    
    <body>
        <div class="ui container">
            <div class="ui centered grid">
                <div class="row">
                    <h1>Gitspector</h1>
                </div>
            </div>
                
            <div id="message_div">
            </div>
            
            <div class="ui centered grid">    
                <div class="row">
                    <div class="ui basic segment" method="post">
                        <form id="repo_search" style="width: 100%;" class="ui left icon action input">
                            <i class="search icon"></i>
                            <input placeholder="Git repository URL"/>
                            <button class="ui submit basic button">Search</button>
                        </form>

                        <div class="ui horizontal divider">OR</div>
                        
                        <div class="ui left icon action input">
                            <i class="upload icon"></i>
                            <input placeholder="Git repository directory" type="file" webkitdirectory mozdirectory/>
                            <button id="repo_upload" class="ui submit basic button">Upload</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
            
            <div class="ui blurring segment" style="min-height: 80px;">
                <div class="ui dimmer">
                    <div class="ui inline active large loader"></div>
                </div>
                
                <div class="ui centered grid">
                    <div class="row">
                        <div id="content_div">
                            <h3><i>Your results will appear here!</i></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>